<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wayne.arduinocarpage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Three"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Five"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Seven"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Enter_Three"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Enter_Five"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KD_Enter_Seven"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Three"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Five"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Seven"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Enter_Three"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Enter_Five"
            android:screenOrientation="landscape"/>

        <activity android:name="com.example.wayne.arduinocarpage.KP_Enter_Seven"
            android:screenOrientation="landscape"/>

    </application>

</manifest>